body {
    background-color:hsl(212, 45%, 89%);
}

.caixa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    width: 320px;
    height: 497px;
    align-items: center;
    text-align: center;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    font-family: 'Outfit', sans-serif;
    box-shadow: 5px 5px 25px hsl(211, 25%, 77%);
}

img {
    width: 290px;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}

p {
    padding-left: 10%;
    padding-right: 10%;
    color: hsl(220, 15%, 55%);
}

h2 {
    padding-left: 5%;
    padding-right: 5%;
    color: hsl(218, 44%, 22%);
}

@font-face {
    font-family: 'Outfit';
    src: url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap') format('woff2'),
         url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap') format('woff');
    /* Adicione mais formatos de fonte, se necessário */
}



/*

Essa técnica usa position: absolute para posicionar a div relativamente à janela do navegador e 
top: 50% e left: 50% para movê-la para o centro da página. 
Em seguida, transform: translate(-50%, -50%) é usado para ajustar a posição da div 
de modo que seu centro fique exatamente no meio da página, independentemente do tamanho da div. 
Isso funciona para desktop e dispositivos móveis.

.div-centralizada {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



div {
    background-color: white;
    width: 320px;
    height: 497px;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    align-content: center;
           
}

img {
    width: 240px;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}

